
body {
    font-family: 'Poppins', sans-serif;
    background-color: #c1cee5;
}

header {
    background-color: #6c8bc2 !important;
}

.nav-tabs button {
    color: black;
}

.nav-tabs {
    background-color: #819ccb;
}

.nav-tabs .nav-link.active, .tab-pane {
    background-color: #acbddb !important;
}

.nav-link.active {
    border-bottom: none !important;
}

.currentWeatherWrapBG {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.weatherWrap {
    overflow: hidden;
    position: relative;
}
.weatherWrapBG {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.weatherContent {
    position: relative;
}

#currentTemp {
    font-size: 5rem;
}

.font-size-big {
    font-size: 3rem;
}

.font-size-med {
    font-size: 1.5rem;
}
