/*#map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/


#currentTemp {
    font-size: 5rem;
}

/*#currentWeatherIconImg {*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*}*/

/*.chart-container {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    margin: auto;*/
/*}*/