/*#map {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/


#currentTemp {
    font-size: 5rem;
}

.font-size-big {
    font-size: 3rem;
}

.nav-tabs button {
    color: black;
}


/*#currentWeatherIconImg {*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*}*/

/*.chart-container {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    margin: auto;*/
/*}*/